<address>
	<p>E-Shopper Inc.</p>
	<p>935 W. Webster Ave New Streets Chicago, IL 60614, NY</p>
	<p>Newyork США</p>
	<p>Mobile: +2346 17 38 93</p>
	<p>Fax: 1-714-252-0026</p>
	<p>Email: info@e-shopper.com</p>
</address>