<div class="shop-menu pull-right">
	<ul class="nav navbar-nav">
		@if (User.IsInRole(Role.Administrations))
		{
			<li>
				<a asp-area="Admin" asp-controller="Home" asp-action="Index">
					<i class="fa fa-key"></i>Админка
				</a>
			</li>
		}
		<li><a asp-controller="UserProfile" asp-action="Index"><i class="fa fa-user"></i>@User.Identity!.Name</a></li>
		<li><a href="#"><i class="fa fa-star"></i> Список желаний</a></li>
		<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Оформить заказ</a></li>
		<li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Корзина</a></li>
		<li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i>Выход</a></li>
	</ul>
</div>