<div class="rating-area">
	<ul class="ratings">
		<li class="rate-this">Rate this item:</li>
		<li>
			<i class="fa fa-star color"></i>
			<i class="fa fa-star color"></i>
			<i class="fa fa-star color"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		</li>
		<li class="color">(6 votes)</li>
	</ul>
	<ul class="tag">
		<li>TAG:</li>
		<li><a class="color" href="">Pink <span>/</span></a></li>
		<li><a class="color" href="">Рубашки <span>/</span></a></li>
		<li><a class="color" href="">Girls</a></li>
	</ul>
</div><!--/rating-area-->