<div class="replay-box">
	<div class="row">
		<div class="col-sm-4">
			<h2>Leave a replay</h2>
			<form>
				<div class="blank-arrow">
					<label>Your Name</label>
				</div>
				<span>*</span>
				<input type="text" placeholder="write your name...">
				<div class="blank-arrow">
					<label>Email Address</label>
				</div>
				<span>*</span>
				<input type="email" placeholder="your email address...">
				<div class="blank-arrow">
					<label>Web Site</label>
				</div>
				<input type="email" placeholder="current city...">
			</form>
		</div>
		<div class="col-sm-8">
			<div class="text-area">
				<div class="blank-arrow">
					<label>Your Name</label>
				</div>
				<span>*</span>
				<textarea name="message" rows="11"></textarea>
				<a class="btn btn-primary" href="">post comment</a>
			</div>
		</div>
	</div>
</div><!--/Repaly Box-->