<div class="mainmenu pull-left">
	<ul class="nav navbar-nav collapse navbar-collapse">
		<li><a ws-is-active-route asp-controller="Home" asp-action="Index">Home</a></li>
		<li class="dropdown">
			<a ws-is-active-route ws-ignore-action ws-ignore-secondary-route asp-controller="Catalog" asp-action="Index">
				Магазин<i class="fa fa-angle-down"></i></a>
			<ul role="menu" class="sub-menu">
				<li><a ws-is-active-route asp-controller="Catalog" asp-action="Index">Каталог</a></li>
				<li>
					<a ws-is-active-route asp-controller="Cart" asp-action="Index">Корзина</a>
				</li>
			</ul>
		</li> 
		<li class="dropdown">
			<a ws-is-active-route ws-ignore-action asp-controller="Blogs" asp-action="Index">
				Блог<i class="fa fa-angle-down"></i></a>
			<ul role="menu" class="sub-menu">
				<li><a ws-is-active-route asp-controller="Blogs" asp-action="Index">Список блогов</a></li>
				<li><a ws-is-active-route asp-controller="Blogs" asp-action="ShopBlog">Блог магазина</a></li>
			</ul>
		</li> 
		<li><a ws-is-active-route asp-controller="Errors" asp-action="Index">404</a></li>
		<li><a ws-is-active-route asp-controller="Contacts" asp-action="Index">Контакты</a></li>
		@if (User.Identity!.IsAuthenticated)
		{
			<li><a ws-is-active-route asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
		}
		<li><a ws-is-active-route asp-controller="WebApi" asp-action="Index">WebApi</a></li>
		<li><a ws-is-active-route asp-controller="AjaxTest" asp-action="Index">AJAX</a></li>
		<li><a ws-is-active-route asp-controller="AjaxTest" asp-action="Chat">Чат</a></li>
	</ul>
</div>