<div class="total_area">
	<ul>
		<li>Подитог <span>$59</span></li>
		<li>Эко-сбор <span>$2</span></li>
		<li>Стоимость доставки <span>Free</span></li>
		<li>Итого <span>$61</span></li>
	</ul>
		<a class="btn btn-default update" href="">Обновить</a>
		<a class="btn btn-default check_out" href="">Оформить заказ</a>
</div>