﻿@{
    ViewBag.Title = "Тест ненавязчивого AJAX";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Рендринг на стороне сервера</h4>

            <a class="btn btn-default"
               data-ajax="true"
               data-ajax-url="@Url.Action("GetHTML", "AjaxTest", new { id = 42, msg = "Hello HTML!", Delay = "5000" })"
               data-ajax-update="#panel-server"
               data-ajax-loading="#spinner-server">
                Загрузка
            </a>

            <span style="display:none" id="spinner-server">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-server"></div>
        </div>

        <div class="col-md-4">
            <h4>Рендринг на стороне клиента</h4>

            <a class="btn btn-default"
               data-ajax="true"
               data-ajax-url="@Url.Action("GetJSON", "AjaxTest", new { id = 13, msg = "Hello JSON!", Delay = "4000" })"
               data-ajax-success="OnJSONLoaded"
               data-ajax-loading="#spinner-client">
                Загрузка
            </a>

            <span style="display:none" id="spinner-client">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-client"></div>
        </div>

        <div class="col-md-4">
            <h4>Рендринг руками</h4>

            <a class="btn btn-default" id="load-data-button">Загрузка</a>

            <span style="display:none" id="spinner-js">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-js"></div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        OnJSONLoaded = data => {
            const panel = $("#panel-client");
            panel.empty();
            panel
                .append("msg:" + data.message)
                .append("<br/>")
                .append("Server time:" + data.serverTime);
        }

        $("#load-data-button").click(e => {
            e.preventDefault();

            console.log("Starting AJAX-request");
            $("#spinner-js").show();

            $.get("@Url.Action("GetJSON")", { id: 123, msg: "QWE", Delay: "1000" })
                .done(data => {
                    console.log("Response from server");
                    $("#spinner-js").hide();

                    $("#panel-js")
                        .empty()
                        .append("msg:" + data.message)
                        .append("<br/>")
                        .append("Server time:" + data.serverTime);
                });
        });
    </script>
}