@model CartOrderViewModel

<section id="do_action">
	<div class="container">
		<div class="heading">
			<h3>Что мы сделаем с этим дальше?</h3>
			<p>Выберите, есть ли у вас код скидки или бонусные баллы, которые вы хотите использовать или хотите сделать скуидку на доставку.</p>
		</div>
		<partial name="Partial/_Checkout" model="Model.Order"
				 view-data="@(new ViewDataDictionary(ViewData) { {"TotalPrice", Model.Cart.TotalPrice} })" />
	</div>
</section><!--/#do_action-->