<div id="contact-page" class="container">
    <div class="bg">
	    <div class="row">
	    	<div class="col-sm-12">
				<h2 class="title text-center">Контакты</h2>
				<partial name="Partial/_Gmap"/>
			</div>
		</div>
    	<div class="row">
	    	<div class="col-sm-8">
				<partial name="Partial/_ContactForm"/>
	    	</div>
	    	<div class="col-sm-4">
	    		<partial name="Partial/_ContactInfo"/>
    		</div>
	    </div>  
    </div>	
</div><!--/#contact-page-->